.cards {
  display: flex;
}

.card-container {
    width: 500px;
    /* height: 240px; */
    margin: 16px;
    /* border: 1px solid black; */
}

.card-image {
    /* width: 200px; */
    height: 300px;
    background-size: cover;

}

.card-white {
    background-color: rgb(240, 240, 240);
    padding: 16px;
}

.card-footer {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.card-footer img {
  margin-right: 8px;
}

.card-white .btn-white {
  opacity: 0;
}

.card-white:hover .btn-white {
  transition: 1s;
  opacity: 1;
}